.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 4px;
  margin: 8px 0;
  color: rgb(75 85 99);
  background-color: rgb(243 244 246);
  border: 1px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.item {
  align-items: center;
}

.item_input {
  width: 100%;
  padding: 0 12px;
  margin-right: 16px;
  color: rgb(107 114 128);
  border: 1px solid #e5e7eb;
  border-radius: 4px;

}

.item_listBtn {
  float: right;
  padding: 12px 4px;
  margin: 0 8px;
  cursor: pointer;
  background-color: rgb(243 244 246);
  box-sizing: border-box;
  border: 1px solid #e5e7eb;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
